AWS_ACCESS_KEY_ID=TU_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY
AWS_SESSION_TOKEN=TU_SESSION_TOKEN
AWS_REGION=us-west-2
S3_BUCKET_NAME=nombre-real-de-tu-bucket


# uvicorn app.main:app --reload  
# npm install
# npm run dev
